@import "~/.config/rofi/master-config.rasi" 

window {
    width:	50%;
}

button {
    width:	110px;
}

listview {
  columns: 5;
  lines: 5;
  fixed-height:	true;
}

element {
  orientation: vertical;
  padding: 10px 5px 10px 5px;
  spacing: 6px;
}

element-icon {
  size: 3%;
}

element-text {
  font: "JetBrainsMono Nerd Font SemiBold 12";
  horizontal-align: 0.5;
}
